<h3 class="account-heading">{{lang 'account.orders.details.order_contents'}}</h3>
<style>

</style>
<ul class="productGrid productGrid--orderContents">
    {{#each order.items}}
        {{#if shipping_rows.length}}
            {{#each shipping_rows}}
                {{#if is_shipping}}
                    <li class="account-listShipping">
                        <h5 class="account-listShipping-title">{{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}</h5>
                    </li>
                {{/if}}
            {{/each}}
        {{/if}}
    <li class="product">
        <article class="card">
            <figure class="card-figure">
                <div class="card-img-container">
                    {{> components/common/responsive-img
                        image=image
                        class="card-image"
                        fallback_size=../../theme_settings.productthumb_size
                        lazyload=../../theme_settings.lazyload_mode
                        default_image=../../theme_settings.default_image_product
                    }}
                </div>
            </figure>
            <div class="card-body">
                {{#if brand}}
                    <p class="card-text">{{brand.name}}</p>
                {{/if}}
                <h3 class="card-title">{{quantity}} &#215; {{name}}</h3>
                <div class="card-text">
                    <div class="price-section">{{price.formatted}}</div>
                </div>
                <div class="account-product-checkItem">
                    {{#if show_reorder}}
                        <input class="form-checkbox" type="checkbox" id="account-product-id-{{order_product_id}}" value="{{order_product_id}}">
                        <label for="account-product-id-{{order_product_id}}" class="form-label">
                            <span class="is-srOnly">Checkbox {{order_product_id}} label</span>
                        </label>
                    {{/if}}
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ul>
